.containerInfo{
    color: white;
    padding:30px;
}


.containerChampion{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile{
    display: flex;
    gap: 15px;
}

.champName{
    font-size: 6em;
    margin: 0;
}

.champPic{
    width: 144px;
    height: 144px;
}

.abilityButtons{
    display: flex;
    gap: 64px;
    padding: 50px;
    background-color: #28283e;
    
}

.abilityButton{
    width:72px;
    height:72px;
    cursor: pointer;
    background-color: #28283e;
    border-radius: 8px;
    opacity: 0.3;
    
}

.abilityButton.selected{
    transform: scale(1.1);
    opacity: 1; 
}

.abilityShowcase{
    display: flex;
    gap: 32px;
    padding: 64px;
    background-color: #28283e;
    margin: 64px;
    border-radius: 15px;

}

.videoContainer{
    background-color: #28283e;
}

.buttonContainer{
    background-color: #28283e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonContainer>h3{
    background-color: #28283e;
    margin: 5px;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 717px;
    background-color: #28283e;
}
/*this is the spell description*/
.description>p3{
    margin-left: 10px;
    background-color: #28283e;
    font-size: large;
}
/*This is the spell name*/
.description>h2{
    background-color: #28283e;
    font-style: italic;
}

/*Cooldown title*/
.description>p2{
    margin-top: 20px;
    background-color: #28283e;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}
/*Cooldowns from rank 1-5*/
.description>p4{
    margin-top: 10px;
    background-color: #28283e;
}

/*For keyAbilities.js*/
.keyAbilityCard{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    background-color: #28283e;
    padding-left: 20px;
    padding-right: 20px;
}

.keyAbilityCard>p1{
    background-color: #28283e;
    padding-left: 10px;
    padding-top: 20px;
    font-size: large;
    text-wrap: wrap;
    width: 1400px;
}

.keyAbilitiesContainer{
    border-radius: 15px;
    padding: 8px;
    background-color: #28283e;
}

.backButton{
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 36px;
}

/*For loading screen*/
.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 64px;
    font-weight: bold;
}